@model TravelsalWebApplication.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<form  method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-7 mt-4">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Main details</h6>
                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                @Html.Label("Profile Image")
                                <input type="file" asp-for="Image" class="form-control" />
                                <br />
                                @Html.Label("Name")
                                <input type="text" asp-for="name" class="form-control" />
                                <br />
                                @Html.Label("Surname")
                                <input type="text" asp-for="surname" class="form-control" />
                                <br />
                                @Html.Label("Gender")
                                <input type="text" asp-for="gender" class="form-control" /><br />

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <div class="card h-100 mb-4">
                <div class="card-header pb-0 px-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="mb-0">Contact details</h6>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <a href="/Member/Profile/updatePassword/">
                                <i class="fas fa-user-secret text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Change the password"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                @Html.Label("Phone Number")
                                <input type="text" asp-for="phone" class="form-control" />
                                <br />
                                @Html.Label("Email Address")
                                <input type="email" asp-for="mail" class="form-control" />
                                <br />
                                @Html.Label("Password")
                                <input type="password" asp-for="password" class="form-control" />
                                <br />
                                @Html.Label("Confirm Password")
                                <input type="password" asp-for="confirmpassword" class="form-control" />
                            </div>

                        </li>
                    </ul>
                    <br />
                    <button class="btn btn-primary btn-sm mb-0">Save</button>
                    <a href="/Member/Profile/Index/" class="btn btn-outline-danger btn-sm mb-0">Cancel</a>

                    
                    
                </div>
            </div>
        </div>
    </div>
</form>

