@using TravelsalWebApplication.Areas.Admin.Models

@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h5 class="card-header">List of Api</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Country/City</th>
                        <th>Mail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name @item.Surname</strong>
                            </td>
                            <td>@item.Country / @item.City</td>
                            <td>@item.Mail</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorID"><i class="bx bx-edit-alt me-1"></i> Check</a>
                                        <a class="dropdown-item" href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorID"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <div>
                <a href="/Admin/VisitorApi/AddVisitor"
                   class="btn btn-danger btn-buy-now">Add New</a>
            </div>
        </div>
    </div>
</div>



