@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservaion";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-md-7 mt-4">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Reservation</h6>
                </div>
                <div class="card-body pt-4 p-3">

                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-3 text-sm">Book your new reservation</h6>
                                <br />
                                @Html.Label("Destination")
                                @Html.DropDownListFor(x => x.Destinattion, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                                <br />
                                @Html.Label("Number of participants")
                                <input type="text" asp-for="PersonCount" class="form-control" />
                                <br />
                                @Html.Label("Date")
                                <input type="date" asp-for="ReservationDate" class="form-control" />
                                <br />
                                @Html.Label("Add your offers/complaints")
                                @Html.TextAreaFor(x => x.Descriptiion, new { @class = "form-control" })
                            </div>


                        </li>




                    </ul>

                    <button class="btn btn-primary btn-sm mb-0">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</form>

